extends layout

block search
  base(href='/')
  .container.wrapper(ng-controller='searchnhController', ng-init='initDataFirstTime()')
    title ProCleaner - Tìm kiếm ngắn hạn
    .row.content(ng-show='isSearch')
      .col-lg-3.content-left
        md-toolbar.md-whiteframe-2dp
          .md-toolbar-tools
            h4.chutrang 
              i.fa.fa-search
              |   Tìm kiếm
        md-content.md-whiteframe-2dp(flex='', layout-padding='')
          div.form-inline.xanhnhat
            md-subheader
              i.fa.fa-calendar.padright.xanhnhat 
              | Ngày
              i.fa.fa-warning.pull-right.padright.xanhnhat
                md-tooltip(md-direction="left")
                  | Thay đổi ngày sẽ mất các lựa chọn hiện tại
            div
              input#ngay.marleft.form-control.timewidth.dpindex(type='text', name='ngay', placeholder='Chọn ngày', readonly='readonly', autocomplete='off', ng-model='data.ngay', ng-change='initData()')
            div
              p.red {{thongbaongay}}
          div.form-inline.xanhnhat
            md-subheader
              i.fa.fa-clock-o.padright.xanhnhat 
              | Giờ
              i.fa.fa-warning.pull-right.padright.xanhnhat
                md-tooltip(md-direction="left")
                  | Thay đổi giờ sẽ mất các lựa chọn hiện tại
          .form-inline
            .form-group
              select#giobd_sl.timewidthhalf.form-control.marleft.sb.fixWTime.selectpicker(ng-model="data.giobd1" ng-options="obj.id as obj.name for obj in data.availableOptions", ng-change='initData()')
                option(value='' disabled) Từ giờ
              input#gbdnh.form-control.sb(type='hidden', name='giobd1', value='{{data.giobd1}}')

              select#giokt_sl.timewidthhalf.form-control.sb.fixWTime.selectpicker(ng-model="data.giokt1" ng-options="obj.id as obj.name for obj in data.availableOptions", ng-change='initData()')
                option(value='' disabled) Đến giờ
              input#gktnh.form-control.sb(type='hidden', name='giokt1', value='{{data.giokt1}}')
            div
              p.red {{thongbaogio}}
          // số năm kinh nghiệm ---------------------------------------------------
          div.form-inline
            div.xanhnhat
              md-subheader
                i.fa.fa-briefcase.padright.xanhnhat 
                | Kinh Nghiệm
            md-radio-group(ng-model='data.sonamkn')
              div(ng-repeat='kn in kinhnghiems')
                md-radio-button(value='{{kn.id}}')
                  {{kn.ten}}
          // dịch vụ ---------------------------------------------------
          div.form-inline
            div.xanhnhat
              md-subheader
                i.fa.fa-tags.padright.xanhnhat 
                | Dịch vụ
            div(layout="row" layout-align="center center" ng-if='loading_dichvu')
              i.fa.fa-2x.fa-cog.fa-spin.xanhnhat
            div(ng-repeat='tieuchi in tieuchis')
              md-checkbox.md-primary.md-align-top-left(ng-model='tieuchi.data' ng-click='them_filter_dichvu(tieuchi.ten, tieuchi.data, data)')
                | {{tieuchi.ten}}
          // Quận ---------------------------------------------------
          div.form-inline
            div.xanhnhat
              md-subheader
                i.fa.fa-map-marker.padright.xanhnhat 
                | Quận
                i.fa.fa-warning.pull-right.padright.xanhnhat
                  md-tooltip(md-direction="left")
                    | Thay đổi quận sẽ mất các lựa chọn hiện tại
            md-radio-group(ng-model='data.quan' ng-change='initData()')
              div(ng-repeat='quan in quans')
                md-radio-button(value='{{quan.ten}}')
                  {{quan.ten}}
      .col-lg-9.content-right
        h3.md-headline.headline
          div(layout="row" layout-align="center center")
            div(flex='50' layout="row" layout-align="start center")
              i.fa.fa-list.xanhdam
                |   Danh sách người giúp việc   
              md-button.md-fab.md-primary.chutrang(aria-label='Use Android')
                md-tooltip
                  | {{'Bạn đã chọn ' + ngv_selected_arr.length + ' nhân viên!' }}
                i.fa.fa-user
                |   {{ngv_selected_arr.length}}
            div(flex='50' layout="row" layout-align="end center")
              button.btn.btn-danger.pull-right(type='button' ng-click='show_yeucau()')
                i.fa.fa-shopping-cart
                |  Yêu cầu giúp việc
              
        div(layout="row" layout-align="center center" ng-if='loading')
          i.fa.fa-4x.fa-cog.fa-spin.xanhnhat
        div.removedot
          ul
            li(ng-repeat='ngv in ngvs' ng-if='filtering(ngv)')
              md-card
                md-card-content
                  .row.selected-classifieds
                    .col-md-3
                      a(href='#' ng-click='chon_ngv(ngv, ngv_selected_arr)')
                        img.img-responsive(ng-src='{{"http://procleaner.vn:3000/public/images/ngv/" + ngv.hinhanh}}', alt='Ảnh đại diện')
                        md-tooltip
                          | Bấm vào hình để chọn người giúp việc.
                      .rating
                        i.fa.fa-2x.fa-star.xanhnhat
                        i.fa.fa-2x.fa-star.xanhnhat
                        i.fa.fa-2x.fa-star.xanhnhat
                        i.fa.fa-2x.fa-star-o.xanhnhat
                        i.fa.fa-2x.fa-star-o.xanhnhat
                    .col-md-9
                      .row.selected-classifieds.marbtm(id='{{ngv.cmnd}}', ng-class='ngv_isSelected(ngv, ngv_selected_arr)')  
                        .col-md-12
                          h2.headline.ngv_name {{ngv.hoten}}
                      hr.hrnomargin
                      .rightbody
                        .row.vdivide.paddingrow
                          .col-md-6
                              h4.i.fa.fa-paperclip.padright.xanhnhat 
                              | {{ngv.danhgia}}
                          .col-md-6
                            .row
                              .itembody.left
                                h4.i.fa.fa-venus-mars.padright.xanhnhat 
                                | {{ngv.gioitinh}}
                              .itembody.right 
                                h4.i.fa.fa-birthday-cake.padright.xanhnhat
                                | {{tinh_tuoi_ngv(ngv.ngaysinh) + ' tuổi'}}
                            .row
                              .itembody.left 
                                h4.i.fa.fa-briefcase.padright.xanhnhat
                                | {{ngv.sonamkinhnghiem + ' năm kinh nghiệm'}}
                              .itembody.right 
                                h4.i.fa.fa-map-marker.padright.xanhnhat
                                | {{ngv.diachi.quan}}
                      div.form-group
                            h4.i.fa.fa-tags.padright.xanhnhat
                            | Sở trường
                            br
                            input.btn.btn-danger.btn-xs.tagmargin(ng-repeat='st in ngv.sotruong' type='button' value='{{st}}')
                      hr.hrnomargin
                      .rightfooter
                        button.btn.btn-danger.pull-right(type='button' ng-click='show_detail(ngv)')
                          i.fa.fa-arrow-right
                          |  Thông tin chi tiết
    .row.content(ng-if='isDetail')
      div
        .col-md-9.col-md-push-3.content-right(ng-repeat='ngv in ngvs', ng-if='checkcmnd(ngv.cmnd)')
          h4 Thông tin chi tiết
          .row
            .col-md-4
              a(href='#')
                img.img-responsive(ng-src='{{"http://procleaner.vn:3000/public/images/ngv/" + ngv.hinhanh}}', alt='Ảnh đại diện')
              .rating
                i.fa.fa-2x.fa-star.xanhnhat
                i.fa.fa-2x.fa-star.xanhnhat
                i.fa.fa-2x.fa-star.xanhnhat
                i.fa.fa-2x.fa-star-o.xanhnhat
                i.fa.fa-2x.fa-star-o.xanhnhat
            .col-md-8
              .div(layout="row" layout-align="start start")
                i.fa.fa-user.fa-2x.padright.xanhnhat
                p.detailname {{' ' + ngv.hoten}}
              hr.hrmargintop
              .row
                .col-md-12
                  .div(layout="row")
                    div(flex='30')
                      h3.i.fa.fa-map-marker.padright.xanhnhat 
                      | {{ngv.diachi.quan}}
                    div(flex='50')
                      h3.i.fa.fa-venus-mars.padright.xanhnhat 
                      | {{ngv.gioitinh}}
                    div(flex='20')
                      h3.i.fa.fa-graduation-cap.padright.xanhnhat 
                      | {{ngv.trinhdohocvan}}
                  .div(layout="row")
                    div(flex='30')
                      h3.i.fa.fa-birthday-cake.padright.xanhnhat 
                      | {{tinh_tuoi_ngv(ngv.ngaysinh)+' tuổi'}}
                    div(flex='50')
                      h3.i.fa.fa-briefcase.padright.xanhnhat 
                      | {{ngv.sonamkinhnghiem}} năm kinh nghiệm
                    div(flex='20')
                      h3.i.fa.fa-heart.padright.xanhnhat 
                      | {{ngv.tinhtranghonnhan}}
              .row.form-inline(style='font-size: 15px;')
                .col-md-12
                  h3.i.fa.fa-tags.padright.xanhnhat 
                  | Sở trường  
                  div.form-group
                    input.btn.btn-danger.btn-xs.tagmargin(ng-repeat='st in ngv.sotruong' type='button' value='{{st}}')
              hr.hrmarginbtm

              div(layout="row" layout-align="end start")
                div
                  button.marleftbtn.btn.btn-danger.pull-right(type='button' ng-click='return_search()')
                    i.fa.fa-arrow-left
                    |  Quay lại
                div
                  button.marleftbtn.btn.btn-danger.pull-right(type='button' ng-click='chon_ngv_detail(ngv)' ng-if='isSelected(ngv, "chon", ngv_selected_arr)')
                    i.fa.fa-suitcase
                    |  Chọn nhân viên
                div
                  button.marleftbtn.btn.btn-danger.pull-right(type='button' ng-click='chon_ngv_detail(ngv)' ng-if='isSelected(ngv, "huy", ngv_selected_arr)')
                    i.fa.fa-undo
                    |  Bỏ chọn
          .row.tabmartop
            .col-md-12
              md-tabs(md-dynamic-height='', md-border-bottom='')
                md-tab
                  md-tab-label
                    i.fa.fa-paperclip
                    |    Đánh giá chung
                  md-tab-body
                    md-content.md-padding
                      h1.md-display-2.center Đánh giá chung
                      p
                        | {{ngv.danhgia}}
                md-tab
                  md-tab-label
                    i.fa.fa-history
                    |    Mô tả kinh nghiệm
                  md-tab-body
                    md-content.md-padding
                      h1.md-display-2.center Mô tả kinh nghiệm
                      p
                        | {{ngv.motakinhnghiem}}
                md-tab
                  md-tab-label
                    i.fa.fa-exclamation-circle
                    |    Thông tin chi tiết
                  md-tab-body
                    md-content.md-padding
                      h1.md-display-2.center Thông tin chi tiết 
                      p
                        | - Cân nặng : {{ngv.cannang}} kg.
                      p
                        | - Chiều cao : {{ngv.chieucao}} cm.
                      p
                        | - Dân tộc : Kinh.
                      p
                        | - Trình độ học vấn : {{ngv.trinhdohocvan}}.
                      p
                        | - Tình trạng hôn nhân : {{ngv.tinhtranghonnhan}}.
                      p(ng-show='ngv.tinhtranghonnhan!="Độc thân"')
                        | - Con cái : {{ngv.thongtincon.length}}
                      p.padleft(ng-show='ngv.tinhtranghonnhan!="Độc thân"', ng-repeat='con in ngv.thongtincon')
                        | • Tuổi : {{con.tuoi}}
                md-tab
                  md-tab-label
                    i.fa.fa-stethoscope
                    |    Giấy khám sức khỏe
                  md-tab-body
                    md-content.md-padding
                      h1.md-display-2.center Giấy khám sức khỏe
                        slick.slicktest(settings='slickconfig', ng-if='numberLoaded')
                          div(ng-repeat='gksk in ngv.giaykhamsuckhoe')
                            img.center.img-responsive(ng-src='{{"http://procleaner.vn:3000/public/images/ngv/" + gksk}}', alt='Giấy khám sức khỏe')
          hr.hrmargin
        .col-md-3.col-md-pull-9.content-left
          h4 Nhân viên tương đồng
          .row(ng-if='ngv_sub1!=null')
            .thumbnail.sm-img-left
              a.center.portfolio-box(href='#' ng-click='show_detail(ngv_sub1)')
                img.img-responsive(ng-src='{{"http://procleaner.vn:3000/public/images/ngv/" + ngv_sub1.hinhanh}}', alt='Ảnh đại diện')
              .caption.center
                .row
                  .left.padleft
                    h5.i.fa.fa-user.xanhnhat.marbtm.padright
                    | {{ngv_sub1.hoten}}
                  .right.padrightngv
                .row
                  .left.padleft
                    h5.i.fa.fa-briefcase.xanhnhat.marbtm.padright
                    | {{ngv_sub1.sonamkinhnghiem + ' năm kinh nghiệm'}}
                .row
                  .left.padleft
                    h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                    | {{tinh_tuoi_ngv(ngv_sub1.ngaysinh) + ' tuổi'}}
          .row(ng-if='ngv_sub2!=null')
            .thumbnail.sm-img-left
              a.center.portfolio-box(href='#' ng-click='show_detail(ngv_sub2)')
                img.img-responsive(ng-src='{{"http://procleaner.vn:3000/public/images/ngv/" + ngv_sub2.hinhanh}}', alt='Ảnh đại diện')
              .caption.center
                .row
                  .left.padleft
                    h5.i.fa.fa-user.xanhnhat.marbtm.padright
                    | {{ngv_sub2.hoten}}
                  .right.padrightngv
                .row
                  .left.padleft
                    h5.i.fa.fa-briefcase.xanhnhat.marbtm.padright
                    | {{ngv_sub2.sonamkinhnghiem + ' năm kinh nghiệm'}}
                .row
                  .left.padleft
                    h5.i.fa.fa-birthday-cake.xanhnhat.marbtm.padright
                    | {{tinh_tuoi_ngv(ngv_sub2.ngaysinh) + ' tuổi'}}
    .row.content(ng-if='isThanhToan')
      .col-lg-2
      .col-lg-8
        div.md-whiteframe-5dp
          form(name='formthanhtoan', novalidate)
            div.modal-header
              h4.biggerfont.modal-title.xanhdam.center Thông tin yêu cầu
            div#mypanel.modal-body
              div.modal-thanhtoan-height(layout="row" layout-align="center center" ng-if='loading_yeucau')
                i.fa.fa-4x.fa-cog.fa-spin.xanhnhat
              div.modal-thanhtoan-height(layout="row" layout-align="center center" ng-if='hoanthanh_thanhtoan_nh')
                h3 Yêu cầu của quý khách đã được chấp nhận, chúng tôi sẽ liên hệ trong lịch làm việc gần nhất.
              md-content(layout-padding='' ng-if='!(loading_yeucau || hoanthanh_thanhtoan_nh)')
                div(layout='', layout-sm='column')
                  md-input-container(style='width:44%')
                    label 
                      i.fa.fa-phone.xanhnhat.padright
                      | Số đtdđ
                    input(md-maxlength="15", ng-pattern="/^[0-9]+$/", required, name="sdt", ng-model='khachhang.sdt' autocomplete='off')
                    div(ng-messages='formthanhtoan.sdt.$error')
                      div(ng-message='pattern') Số điện thoại không đúng quy định(số từ 1-9).
                      div(ng-message='required') Thông tin bắt buộc.
                      div(ng-message='md-maxlength') Số điện thoại không được nhiều hơn 30 ký tự.
                  md-input-container(style='width:43%')
                    label 
                      a.i.fa.fa-shield.xanhnhat.padright
                      | Mã xác nhận
                    input(autocomplete='off', ng-model='maxacnhan.nguoidung')
                  md-button.md-fab.md-mini.md-primary.chutrang(ng-click='layMaXacNhan()', ng-disabled='dalayMXN')
                    md-tooltip(md-direction="left")
                      | Lấy mã xác nhận
                    i.fa.fa-shield
                div(layout='', layout-sm='column')
                  md-input-container(flex)
                    label 
                      i.fa.fa-user.xanhnhat.padright
                      | Họ tên
                    input(md-maxlength="30", required, name="hoten", ng-model='khachhang.hoten' autocomplete='off')
                    div(ng-messages='formthanhtoan.hoten.$error')
                      div(ng-message='required') Thông tin bắt buộc.
                      div(ng-message='md-maxlength') Tên không được quá 30 ký tự.
                div(layout='', layout-sm='column')
                  md-input-container(style='width:87%')
                    label 
                      i.fa.fa-map-marker.xanhnhat.padright
                      | Địa chỉ
                    input(md-maxlength="150", required, name="diachi", ng-model='khachhang.diachi' autocomplete='off')
                    div(ng-messages='formthanhtoan.diachi.$error')
                      div(ng-message='required') Thông tin bắt buộc.
                      div(ng-message='md-maxlength') Địa chỉ không được nhiều hơn 150 ký tự.
                  md-button.md-fab.md-mini.md-primary.chutrang(ng-click='layDiaChi()')
                    md-tooltip(md-direction="left")
                      | Lấy địa chỉ hiện tại
                    i.fa.fa-map
                div(layout='', layout-sm='column')
                  md-input-container(style='width:87%')
                    label
                      i.fa.fa-map-marker.xanhnhat.padright
                      | Thành phố
                    input(value='Tp.Hồ Chí Minh' disabled)
                  md-input-container(style='width:87%')
                    label 
                      i.fa.fa-map-marker.xanhnhat.padright
                      | Quận
                    input(value='{{data.quan}}' disabled)
                div(layout='', layout-sm='column')
                  md-input-container(style='width:50%')
                    label 
                      i.fa.fa-calendar.xanhnhat.padright
                      | Ngày
                    input(disabled, ng-model='data.ngay')
                  md-input-container(style='width:25%')
                    label 
                      a.i.fa.fa-clock-o.xanhnhat.padright
                      | Giờ bắt đầu
                    input(disabled, value='{{Math.floor(data.giobd1/60)+":"+data.giobd1%60}}')
                  md-input-container(style='width:25%')
                    label 
                      a.i.fa.fa-clock-o.xanhnhat.padright
                      | Giờ kết thúc
                    input(disabled, value='{{Math.floor(data.giokt1/60)+":"+data.giokt1%60}}')
                div(layout='column', layout-sm='column')
                  div(layout="row")
                    i.fa.fa-tag.xanhnhat.padright
                    | Dịch vụ
                  div(layout="row", layout-wrap='', flex='')
                    div(ng-repeat='tieuchi in tieuchis', flex='50')
                      md-checkbox.md-primary(ng-model='tieuchi.data' disabled ng-click='them_filter_dichvu(tieuchi.ten, tieuchi.data, data)')
                        | {{tieuchi.ten}}
                div(layout='', layout-sm='column')
                  md-input-container(style='width:50%')
                    label 
                      a.i.fa.fa-money.xanhnhat.padright
                      | Phí cơ bản
                    input(disabled, value='{{showPhiCoBan()+"  VNĐ"}}')
                  md-input-container(style='width:25%')
                    label 
                      a.i.fa.fa-money.xanhnhat.padright
                      | Phí ngoài giờ
                    input(disabled, value='{{showPhiNgoaiGio()+"  VNĐ"}}')
                  md-input-container(style='width:25%')
                    label 
                      a.i.fa.fa-money.xanhnhat.padright
                      | Phụ phí
                    input(disabled, value='{{showTrangThaiYc()}}')
                div(layout='', layout-sm='column')
                  md-input-container(style='width:50%')
                    label 
                      a.i.fa.fa-money.xanhnhat.padright
                      | Tổng chi phí
                    input(disabled, value='{{tinhtien_nh()+"  VNĐ"}}')
                div(layout='row', layout-sm='column')
                  md-list(ng-cloak, style='width:100%')
                    p Danh sách nhân viên đã chọn.
                    md-divider
                    md-list-item(ng-repeat='ngv in ngv_selected_arr')
                      img.md-avatar(alt='Ảnh đại diện', ng-src='{{"http://procleaner.vn:3000/public/images/ngv/" + ngv.hinhanh}}')
                      p {{ngv.hoten}}
            div.modal-footer(ng-if='!loading_yeucau && !hoanthanh_thanhtoan_nh')
              button.marleft.btn.btn-danger.pull-right(type="submit", ng-disabled="formthanhtoan.$invalid", ng-click='luu_yeucau()')
                i.fa.fa-check
                |  Đồng ý
              button.marleft.btn.btn-danger.pull-right(type='button' ng-click='close_thanhtoan()')
                i.fa.fa-remove
                |  Hủy
            div.modal-footer(ng-if='hoanthanh_thanhtoan_nh')
              button.marleft.btn.btn-danger.pull-right(type="button" ng-click='hoanthanh_thanhtoan(1)')
                i.fa.fa-check
                |  Xem lịch sử đơn hàng
              button.marleft.btn.btn-danger.pull-right(type="button" ng-click='hoanthanh_thanhtoan(2)')
                i.fa.fa-check
                |  Về trang chủ
      .col-lg-2
      