doctype html
html
  head
    base(href='/')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='...')
    meta(name='keywords', content='...')
    meta(name='author', content='...')
    link(href='css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800 | Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='text-angular/textAngular.css')
    
    link(rel='stylesheet', href='css/ng-table.min.css')
    link(rel='stylesheet', href='css/blog_admin.css')
    link(rel='stylesheet', href='css/preload.css', type='text/css')
  body(ng-app='BlogAdminModule')
    .se-pre-con
    section#table(ng-view)
      


    

          
    // JS
    script(src='js/jquery-2.1.4.min.js')
    //preload
    script(src='js/preload.js')
    script(src='js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js')
    script(src='text-angular/textAngular-rangy.min.js')
    script(src='text-angular/textAngular-sanitize.min.js')
    script(src='text-angular/textAngular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js')
    
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.min.js')
    
    script(src='//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js')
    script(src='js/angular-file-upload.min.js')
    script(src='js/ng-table.min.js')
    
    script(src='angular/blog_admin.js')
    // Custom Theme JavaScript
    