<md-card>
  <title>Tin tức - {{BlogToView.ten}}</title>
  <md-card-title>
    <md-card-title-text layout-wrap="layout-wrap">
      <span class="md-headline">{{BlogToView.ten}}</span>
      <md-divider style="margin-top:10px;"></md-divider>
      <div layout="row" layout-align="start center" style="margin-top:10px;">
        <i class="fa fa-calendar" style="margin-right:5px;color:#999"></i>
        <div style="margin-right:5px;color:#999">{{BlogToView.ngayviet | date:'dd/MM/yyyy':'+0700'}}</div>
        <i class="fa fa-tag" style="color:#999"></i>
        <a ng-repeat="tag in BlogToView.tags" href="/blog/tag/{{tag}}" class="badge" style="margin-left:1px;margin-right:1px">{{tag}}</a>
      </div>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column" layout-align="space-between" layout-wrap="layout-wrap">
    <md-card-actions layout="column"></md-card-actions>
    <div ng-bind-html="BlogToView.noidung | to_trusted"></div>
  </md-card-content>
</md-card>